extends ../layout.pug

block content
  div(class='breadcrumb')
    div= title
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/SpaceStations') Космічні станції
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/Planets') Планети
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/Cargos') Вантажі